html {
	margin: 0 auto;
}

body {
	background-image: url(../assets/img/fondo.jpg);
	margin: 0;
	margin-bottom: 40px;
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

header {
	background-color: #33333391;
	min-height: 10vh;
}

main {
	min-height: 80vh;
	margin-top: 20px;
}

footer {
	min-height: 10vh;
	margin-top: 1.5rem;
}

h1 {
	text-align: center;
	color: #ffffff !important;
}

h2 {
	text-align: center;
	color: #FFF;
}

h3 {
	margin: 0;
}



label {
	display: block;
	margin-bottom: 10px;
}

input,
select {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #D8D8D8;
	border-radius: 5px;
	box-sizing: border-box;
}

ul {
	margin: 0 !important;
	padding: 0;
	list-style-type: none;
	display: flex;
	padding: 1rem !important;
	gap: 1rem;
}

li {
	flex: 1;
	text-align: center;
}

a {
	display: block;
	color: white !important;
	text-decoration: none !important;
	font-size: 18px;
	padding: 15px;
	transition: all 0.2s ease-in-out;
}

a:hover {
	color: black !important;
}


svg:hover {
	filter: invert(100%);
}

td,
tr {
	background-color: rgb(240, 243, 243) !important;
	text-align: center;
	border-color: #7c7979 !important;
	width: 20%;
}

/* Estilos footer */

#footer {
	background-color: #333333b9;	
	color: #fff;
	padding: 30px 0;
}

#footer a:hover {
	background-color: white;
	color: #333;
	border-radius: 50%;
}

.convertidor {
	margin: 0 auto;
	width: 30%;
	padding: 30px;
	background-color: #948d8db9;
	box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.781);
	border-radius: 5%;
	position: relative;
}

.convertidor__resultado {
	text-align: center;
	margin-top: 20px;
	padding: 15px;
	background-color: #000000b0;
	color: #9c9999;
	font-size: 20px;
}

.convertidor__resultado b {
	color: #FFF;
}

.flex-botones {
	display: flex;
	margin-top: 2rem;
}

.botones {
	margin: 0 auto;
	background-color: #1e3841;
	color: #FFFFFF;
	padding: 10px 20px;
	border-radius: 15px;
	border: none;
	cursor: pointer;
}

.botones:hover {
	background-color: #000000;
	color: #FFF;
}


/* Boton ir al carrito */

.offset {
	--color: #19bc8b;
	--hover: #255379;
  }

.offset {
	box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}

.offset:hover,
.offset:focus {
	box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}

.button {
	color: var(--color);
	-webkit-transition: 0.25s;
	transition: 0.25s;
}

.button:hover,
.button:focus {
	border-color: var(--hover);
	color: #fff;
}

.button {
	background: none;
	border: 2px solid;
	font: inherit;
	line-height: 1;
	margin: 0.5em;
	padding: 1em 2em;
}

/* Botones carrito compras */

.close {
	--color: #ff7f82;
	--hover: #ffdc7f;
}

.slide {
	--color: #8fc866;
	--hover: #66c887;
}

.raise {
	--color: #ffa260;
	--hover: #e5ff60;
}

.fill {
	--color: #a972cb;
	--hover: #cb72aa;
}

.fill:hover,
.fill:focus {
	box-shadow: inset 0 0 0 2em var(--hover);
}

.close:hover,
.close:focus {
	box-shadow: inset -5.7em 0 0 0 var(--hover), inset 5.7em 0 0 0 var(--hover);
}

.raise:hover,
.raise:focus {
	box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
	-webkit-transform: translateY(-0.25em);
	transform: translateY(-0.25em);
}

.slide:hover,
.slide:focus {
	box-shadow: inset 12em 0 0 0 var(--hover);
}

/* footer redes sociales */
.redes-sociales {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

.redes-sociales a {
	color: #fff;
	font-size: 20px;
	transition: color 0.2s;
}

.redes-sociales a:hover {
	color: #ccc;
}


#resultado {
	font-size: 24px;
	font-weight: bold;
	margin-top: 20px;
	text-align: center;
}

/* estilos header */

#menu a:hover {
	background-color: white;
	color: #333;
	border-radius: 10px;
}

.icon:hover {
	background-color: none !important;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.fondo-container {
	background: #17181cd2;
	border-radius: 2%;
	justify-content: center;
	padding: 2rem 0;
	color: #fff;	
	font: 300 1em 'Fira Sans', sans-serif;
	-webkit-box-pack: center;
	justify-content: center;
	align-content: center;
	-webkit-box-align: center;
	align-items: center;
	text-align: center;
	display: -webkit-box;
	display: flex;
}

#bienvenida {
	margin: 0 auto;
	text-align: center;
	width: 70%;
	padding: 15px;
	background-color: #0000007e;
	border-radius: 5%;
}

#titulo_bienvenida {
	font-size: 40px;
	color: #c7d1b7;
}

#bienvenida p {
	color: #c7d1b7;
	font-size: 28px;
}

.titulocarrito {
	color: #fff;
}

.menuproductos {
	margin: 0 auto;
	width: 30%;
	padding: 30px;
	background-color: #948d8db9;
	box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.781);
	border-radius: 5%;
	position: relative;
}

.img-thumbnail {
	max-width: 50% !important;
	background-color: #7c7979;
}

.img-fluid {
	padding-top: 25px;
}

.img-productos {
	width: 124.656px !important;
	height: 149.656px !important;
}

#total {
	color: #FFF;
	font-size: 30px;
}

/* Estilos del Popup-mensaje de datos */
#popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	justify-content: center;
	align-items: center;
}

.contenido-popup {
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
}

#cerrar-popup {
	margin-top: 10px;
	background-color: #FF5733;
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
}

/* CARDS */
  
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    margin: 20px;
    padding: 30px;
    width: 30%;
    min-height: 70px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }
  
  .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  
  .card__link,
  .card__exit,
  .card__icon {
    font-size: 16pt;
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);	
	text-align: center;
  }
  
  .card__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
    
  }
  
  .card__link:hover::after {
    width: 100%;
  }

  .card__link {
    grid-row: 4/5;
    grid-column: 2/2;
  }

  .card__title {
    font-size: 30pt;
    grid-row: 3/4;
    grid-column: 1/3;
    font-weight: 400;
    color: #ffffff;
  }
  .card__icon {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 30px;
  }
  
  .card__exit {
    grid-row: 1/2;
    justify-self: end;
  }   
  
  .card__apply {
    grid-row: 4/6;
    grid-column: 1/2;
    align-self: center;
  }
  h3 {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  
  /* CARD BACKGROUNDS */   
  .card-1 {
    background: radial-gradient(#76b2fe, #b69efe);
  } 
  
  /* RESPONSIVE */
  
  @media (max-width: 1600px) {
    .cards {
      justify-content: center;
    }
  }

